<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-cplugintest" version="0.0.1">
    <name>CPlugin</name>

    <description>My first Android Cordova plugin </description>
    <license>MIT</license>

    <keywords>cordova,android,test</keywords>
    <repo>https://github.com/gscapel/Cordova.git/</repo>
    <issue>https://github.com/gscapel/Cordova/issues</issue>
  
    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>
  
    <js-module src="www/cplugintest.js" name="CPlugin">
        <clobbers target="window.plugins.cPluginTest" />
    </js-module>
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="CPlugin">
                <param name="android-package" value="com.gs.cordova.plugin.CPluginTest"/>
            </feature>
        </config-file>

        <source-file src="src/android/CPluginTest.java" target-dir="src/com/gs/cordova/plugin" />
    </platform>
</plugin>
